<!DOCTYPE html>
<html lang="en">

<html>
<head>
	<meta charset="utf-8">
	<title>Holler Cannes Lions 2013</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
</head>
<body class="container">

  <% categories.each do |category| %>

		<header>
			<h1><%= category.title %></h1>
		</header>

	  <section class='row'>

		  <% category.winners.each do |winner| %>

				<!-- <%= winner.id %> thumb -->
				<article>
					<div>
						<div class='span3'>
							<h4><%= winner.title %></h4>
							<div class='well'>
								<a href="#<%= winner.id %>" data-toggle='modal'><img class='thumb' src="<%= winner.thumb %>"></a>
							</div>
						</div>
					</div>
				</article>
				<!-- end <%= winner.id %> thumb -->

				<!-- <%= winner.id %> modal -->
			    <div id="<%= winner.id %>" class='modal hide fade' tabindex='-1' aria-labelleby='<%= winner.title %>' aria-hidden='true'>
			    	<div class='modal-header'>
			    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    		<h3><%= winner.title %> (<%= winner.prize %>)</h3>
			    	</div>

				    <div class="modal-body row">
				    	<div class='span5'>
				    		<ul>
				    			<li>
				    				<p><strong>Client</strong> <%= winner.client %></p>
				    			</li>
				    			<li>
				    				<p><strong>Agency</strong> <%= winner.agency %></p>
				    			</li>
				    			<li>
				    				<p><strong>Category</strong> <%= winner.category %></p>
				    			</li>
				    			<li>
				    				<p><strong>Brief</strong> <%= winner.brief %></p>
				    			</li>
				    			<li>
				    				<p><strong>Solution</strong> <%= winner.solution %></p>
				    			</li>
				    			<li>
				    				<p><strong>Results</strong> <%= winner.results %></p>
				    			</li>
				    		</ul>
				    	</div>

				    	<div class='span3'>
				      		<iframe width="560" height="315" src="<%= winner.youtube %>" frameborder="0" allowfullscreen></iframe>
				    	</div>
				    </div>
			    </div>
				<!-- end <%= winner.id %> modal -->

		  <% end %>

	  </section>

    <hr>

  <% end %>

	<!-- inc after page loads -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>